@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
        max-width: 400px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .container .card {
        gap: 20px;
    }

    .card a {
        margin-top: 20px;
    }
    .card p {
        line-height: 1.7;
    }

    .container .one {
        border-radius: 8px 8px 0 0;
    }

    .container .three {
        border-radius: 0 0 8px 8px;
    }
}

@media screen and (max-width: 400px) {
    .container {
        flex-direction: column;
        max-width: 315px;
    }
}